* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 25px;
    left: 25px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    width: 15%;
    height: 30%;
    z-index: 30;
    transition: .5s;
}

.buttons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 265px;
    left: 25px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    width: 15%;
    height: 10%;
    z-index: 30;
    transition: .5s;
}

.buttons:hover {
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.9);
}

.input-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.main-container input {
    padding: 5px;
    border-radius: 20px;
    border: 1px solid gray;
    margin: 10px;
}

.mainBtn {
    padding: 10px;
    color: #fff;
    background-color: black;
    border-radius: 20px;
    border: none;
    margin: 10px;
    font-variant: small-caps;
    transition: .5s;
}

.mainBtn:hover{
    color: black;
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.9);
}

.main-container:hover {
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.9);
}

#containerOfGame {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    background-color: darkgray;
}

table {
    background-color: black;
    border-spacing: 0px;
    padding: 10px;
  }
  td {
    border: 1px solid red;
    width: 20px;
    height: 20px;
  }
  td.dead {
    background-color: transparent;
  }
  td.live {
    background-color: white;
  }

#start, #end, #clear {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80px;
    height: 40px;
    margin: 5px;
}