body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#Name {
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  margin-bottom: 0px;
}

#gridContainer {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}

table {
  border-collapse: collapse;
}

td {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.dead {
  background-color: white;
}

.live {
  background-color: #7cfc00;
}

.old-live {
  background-color: red;
}

#panelcontainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 10px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-variant: small-caps;
  cursor: pointer;
  margin: 5px;
  transition: .3s ease;
}

button:hover {
  background-color: #7cfc00;
  color: black;
}

#stats {
  font-size: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

#colors {
  display: flex;
  justify-content: space-between;
}

#ver1, #ver2, #ver3 {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 20px;
  transition: .2s;
}

#ver1:hover, #ver2:hover, #ver3:hover {
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
}

#ver1 {
  background-color: black;
}

#ver2 {
  background-color: aqua;
}

#ver3 {
  background-color: white;
}